<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Ninja | <%= title %></title>
    <link rel ="stylesheet" href="/styles.css">

    <style type="text/css">
      .imageSlider {
          margin: auto;
          width: 40%;
          border: 3px solid blue;
          padding: 10px;
          }
    </style>
  </head>

  <body>

    <%- include("../partials/nav.ejs") %>

    <div class="timerContainer">
      <label id="timeLabel" for="time">
        <strong>Timer</strong>
      </label>
      <div id="time" class="timer">00:00:00</div>
      <button id="startTimer">Start</button>
    </div>

    <div class="blogs content">
      <h2>All Tasks</h2>

      <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <a class="single" href="/blogs/<%= blog.id %>">
            <h3 class="title"><%= blog.title %></h3>
            <p class="snippet"><%= blog.snippet %></p>
          </a>
        <% }) %>
      <% } else { %>
        <p>There are no tasks to display...</p>
      <% } %>
      
    </div>

    <hr>

    <!-- Meme List Start-->
    <br>
    <div class="imageSlider">
      <img name="slide" width="600" height="400" />
    </div>

    <script type="text/javascript">
      var i = 0; 			// Start Point
      var images = [];	// Images Array
      var time = 6000;	// Time Between Switch
          
      // Image List
      images[0] = "image/image1.jpg";
      images[1] = "image/image2.jpg";
      images[2] = "image/image3.jpg";
      images[3] = "image/image4.jpg";
      images[4] = "image/image5.jpeg";
      images[5] = "image/image6.jpeg";
      images[6] = "image/image7.jpg";
      images[8] = "image/image9.jpg";
      images[9] = "image/image10.jpg";

      // Change Image
      function changeImg(){
          document.slide.src = images[i];

          // Check If Index Is Under Max
          if(i < images.length - 1){
          // Add 1 to Index
          i++; 
          } else { 
              // Reset Back To O
              i = 0;
          }

          // Run function every x seconds
          setTimeout("changeImg()", time);
      }

      // Run function when page loads
      window.onload=changeImg;
  </script>
  <!-- Meme List End-->
  <%- include("../partials/footer.ejs") %>
  </body>
</html>

<style>
  .timerContainer {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    float: right;
  }
</style>

<script>
  let seconds = 0;
  let minutes = 0;
  let hours = 0;
  let click = 0;
  let timer;

  function startTimer() {
    timer = setInterval(function() {
      seconds++;
      if (seconds === 60) {
        seconds = 0;
        minutes++;
      }
      if (minutes === 60) {
        minutes = 0;
        hours++;
      }
      document.getElementById("time").innerHTML = padZero(hours) + ":" + padZero(minutes) + ":" + padZero(seconds);
    }, 1000);
  }

  function padZero(num) {
    return num < 10 ? "0" + num : num;
  }

  function stopTimer() {
    clearInterval(timer);
  }

  function resetTimer() {
    clearInterval(timer);
    seconds = 0;
    minutes = 0;
    hours = 0;
    document.getElementById("time").innerHTML = "00:00:00";
  }
  $("#startTimer").click(function() {
    if (click === 0) {
      startTimer();
      $("#startTimer").text("Stop");
      click++;
    } else if (click === 1) {
      stopTimer();
      $("#startTimer").text("Reset");
      click++;
    } else if (click === 2) {
      resetTimer();
      $("#startTimer").text("Start");
      click = 0;
    }
  });
</script>